<%- include('./header') %>  <!-- header section -->
<%- include('./admin_sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="profile-header">
        <h1> Categories </h1>
        <h2>Buy & Sell anything form anywhere in Bihar India only on oldmela.com</h2>
      </div>
            <div class="sell-area">
                <form action=""  method="post">
                  <div><p style="color: red"><%= fail %></p></div>
                  <div><p style="color: green"><%= pass %></p></div>
                  <div class="row">
                    <div class="col-25">
                      <label for="fname">Categories</label>
                    </div>
                    <div class="col-75">
                      <input type="text" class="sell_input" name="cat" placeholder="Enter Categories name" required>
                    </div>
                  </div>
                  <div class="row">
                    <input type="submit" class="sell_submit" value="Insert">
                  </div>
                  </form>
                  <table >
                      <tr>
                          <th>Name</th>
                          <th>Date</th>
                      </tr>
                      <% for(x of catData){  %>
                      <tr>
                          <td><%= x.name %></td>
                          <td><%= moment(x.date).format('Do MMMM YYYY') %></td>
                      </tr>
                      <% } %>
                  </table>
            </div> <!--End of sell area  -->
    </div>
    <div class="footer-area">
      <div><h3>footer area</h3></div>
    </div>
     <!-- ==================================================End of footer Area========================================================= -->
</body>
</html>


<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-top: 0.5rem;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>