<%- include('./header') %>  <!-- header section -->
<%- include('./admin_sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="profile-header">
        <h1> Verified Ads </h1>
        <h2>Buy & Sell anything form anywhere in Bihar India only on oldmela.com</h2>
      </div>
      <% if(approvedAds.length){ %>
        <div class="cards">
          <% for(ele of approvedAds){ %>
            <div class="card">
              <a href="/card?link=<%= ele._id %>">
                <div class="image-section">
                  <img src="https://oldmela.s3.amazonaws.com/<%= ele.ads_img[0] %>" alt="">
                </div>
              </a>
              <div class="details-section">
                <ul>
                  <li><a href="/card?link=<%= ele._id %>">
                      <%= ele.ads_title %>
                    </a></li>
                  <li><i style="font-size:1.4rem; margin-right: 0.5rem;" class="far">&#xf073;</i>
                    <%= moment(ele.ads_date).format('Do MMM YYYY') %>
                  </li>
                  <li><i style="font-size:1.4rem; margin-right: .5rem;" class="fas">&#xf041;</i>
                    <% for(x of city_data){ if(String(ele.ads_city_id) === String(x._id)){  %>
                        <%= x.name %>
                        <% }} %>
                </li>
                <li>
                  <i style="font-size:1.4rem; margin-right: 0.1rem;" class="fa fa-user-circle-o"></i> 
                    <% for(x of usersData){ if(String(ele.user_id) === String(x._id)){  %>
                      <%= x.user_name %>
                    <% }} %>
                </li>
                </ul>
              </div>
            </div>
            <% } } else { %>
                <div style="text-align: center;"><h3>Dear <span style="color: green; font-weight: bold;">Admin</span> Currently we did not have not Approved ads</h3></div>
            <% } %>
  
        </div>
    </div>
    <div class="footer-area">
      <div><h3>footer area</h3></div>
    </div>
     <!-- ==================================================End of footer Area========================================================= -->
</body>
</html>

<style>
  .chunks{
    display: flex; flex-direction: column; justify-content: center; text-align: center; padding: 2rem;
  }
  .chunks h1{
    font-size: large;
    font-weight: bold;
  }
  .chunks h2{
    font-size: xx-large;
    font-weight: 900;
  }
</style>