<%- include('./header') %>  <!-- header section -->
<%- include('./admin_sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">

      <div class="profile-header">
        <h1>Welcome To Admin Panel</h1>
        <h2>Buy & Sell anything form anywhere in Bihar India only on oldmela.com</h2>
      </div>

      <div class="cards">

          <div class="card chunks">
            <h1>Pending Ads</h1>
            <h2><%= pendingAds %></h2>
          </div>

          <div class="card chunks">
            <h1>Messages</h1>
            <h2><%= message %></h2>
          </div>

          <div class="card chunks">
            <h1>Approved Ads</h1>
            <h2><%= approvedAds %></h2>
          </div>

          <div class="card chunks">
            <h1>Wallet Balance</h1>
            <h2><%= walletBalance %></h2>
          </div>

          <div class="card chunks">
            <h1>Total Visitors</h1>
            <h2><%= visitors %></h2>
          </div>

          <div class="card chunks">
            <h1>Authorized Users</h1>
            <h2><%= authUsers %></h2>
          </div>

          <div class="card chunks">
            <h1>Unauthorized Users</h1>
            <h2><%= unAuthUsers %></h2>
          </div>

          <div class="card chunks">
            <h1>Total Cites</h1>
            <h2><%= noOfCity %></h2>
          </div>

          <div class="card chunks">
            <h1>Total Categories</h1>
            <h2><%= noOfCategories %></h2>
          </div>

          <div class="card chunks">
            <h1>Total Sub-Categories</h1>
            <h2><%= noOfSubCat %></h2>
          </div>

      </div>
    </div>
    <div class="footer-area">
      <div><h3>footer area</h3></div>
    </div>
     <!-- ==================================================End of footer Area========================================================= -->
</body>
</html>

<style>
  .chunks{
    display: flex; flex-direction: column; justify-content: center; text-align: center; padding: 2rem;
  }
  .chunks h1{
    font-size: large;
    font-weight: bold;
  }
  .chunks h2{
    font-size: xx-large;
    font-weight: 900;
  }
</style>