<%- include('./header') %>  <!-- header section -->
<%- include('./admin_sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="profile-header">
        <h1> Users IP </h1>
        <h2>Buy & Sell anything form anywhere in Bihar India only on oldmela.com</h2>
      </div>
            <div class="sell-area">
                <table >
                    <tr>
                        <th>S.No</th>
                        <th>Date</th>
                        <th>Users IP </th>
                      </tr>
                      <% c = 1 %>
                      <% for(data of visitors){  %>
                      <tr>
                          <td><%= c++ %></td>
                          <td><%= moment(data.date).format('Do MMMM YYYY') %></td>
                          <td><%= data.ip %></td>
                      </tr>
                      <% } %>
                  </table>
            </div> <!--End of sell area  -->
    </div>
    <div class="footer-area">
      <div><h3>footer area</h3></div>
    </div>
     <!-- ==================================================End of footer Area========================================================= -->
</body>
</html>


<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-top: 0.5rem;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>