
    <%- include('header') %>  <!-- header section -->
    <%- include('sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
        <div class="ads">
            <div class="ads-image">
                <div class="big-image">
                    <img id="bigImage" src="/images/<%= ads_info.ads_img1 %>" alt="">
                </div>
                <div class="small-image">
                    <img onclick="showImage()" src="/images/<%= ads_info.ads_img1 %>" alt="">
                    <% if(ads_info.ads_img2){ %>
                    <img src="/images/<%= ads_info.ads_img2 %>" alt="">
                    <% } %>
                    <% if(ads_info.ads_img3){ %>
                      <img src="/images/<%= ads_info.ads_img3 %>" alt="">
                    <% } %>
                </div>
            </div>
            <div class="ads-details">
                <h2>Ads Details</h2>
                <ul>
                    <li><h3><%= ads_info.ads_title %></h3></li>
                    <li><i style='font-size:1.4rem; margin-right: .5rem;' class='fas'>&#xf156;</i><%= ads_info.ads_price %></li>
                    <li><span style="font-weight: bold;">Description:</span> <%= ads_info.ads_description %></li>
                    <li><span style="font-weight: bold;">Date:</span> <%= moment(ads_info.ads_date).format('Do MMMM YYYY') %></li>
                    <hr>
                </ul>
            </div>
            <div class="ads-contact-details">
                <h2>Contact Details</h2>
                <ul>
                    <li><span style="font-weight: bold;">Phone:</span> <%= ads_info.ads_phone %></li>
                    <li><span style="font-weight: bold;">City:</span> <%= ads_info.ads_city %></li>
                    <li><span style="font-weight: bold;">Address:</span>: <%= ads_info.ads_address %></li>
                    <hr>
                </ul>
            </div>
        </div>
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <div class="footer-area">
      <div><h3>footer area</h3></div>
    </div>
     <!-- ==================================================End of footer Area========================================================= -->
    <script>
      function opensidebar(){
        document.querySelector(".sidebar").classList.add("open");
      }
      function closeSideBar(){
        document.querySelector(".sidebar").classList.remove("open");
      }
      function selcetcity(){
          document.querySelector(".city").classList.add("city-open");
      }
      function removecity(){
        document.querySelector(".city").classList.remove("city-open");
      }
      function searchitem(){
        document.querySelector(".search").classList.add("search-open");
      }
      function closesearch(){
        document.querySelector(".search").classList.remove("search-open");
      }
      function profile(){
        var x = document.getElementById("profile");
        if(x.className == "profile-box"){
          x.classList.add("open-profile");
        }else{
          x.classList.remove("open-profile");
        }
      }
      function colseprofile(){
        var x = document.getElementById("profile");
        x.classList.remove("open-profile");
      }
      function opensidebarlinks(){
        var x = document.getElementById("sidebar-link");
        if (x.className === "sidebar-link"){
          x.classList.add("sidebar-link-open");
        }else{
          x.classList.remove("sidebar-link-open");
        }
      }
    //   function showImage(){
    //       var x = document.getElementById("imdbRating");
    //       x.innerHTML = 
    //   }

    </script>
</body>
</html>