
    <%- include('header') %>  <!-- header section -->
    <%- include('sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
        <div class="ads">
            <!-- image area -->
            <div class="ads-image">
                <div id="img" class="big-image">
                    <img id="bigImage" src="https://oldmela.s3.amazonaws.com/<%= ads_info.ads_img1 %>" alt="Product image">
                </div>
                <div class="small-image">
                    <img id="img1" onclick="img1()" src="https://oldmela.s3.amazonaws.com/<%= ads_info.ads_img1 %>" alt="extra product image">
                    <% if(ads_info.ads_img2){ %>
                    <img id="img2" onclick="img2()" src="https://oldmela.s3.amazonaws.com/<%= ads_info.ads_img2 %>" alt="extra product image">
                    <% } %>
                    <% if(ads_info.ads_img3){ %>
                      <img id="img3" onclick="img3()" src="https://oldmela.s3.amazonaws.com/<%= ads_info.ads_img3 %>" alt="extra product image">
                    <% } %>
                </div>
            </div>
            <div class="ads-details">
                <h2>Ads Details</h2>
                <ul>
                    <li><h3><%= ads_info.ads_title %></h3></li>
                    <li><i style="font-size:1.4rem; margin-right: .5rem;" class="fas">&#xf156;</i><%= ads_info.ads_price %></li>
                    <li><i style="font-size:1.4rem; margin-right: .5rem;" class="fas">&#xf073;</i><%= moment(ads_info.ads_date).format('Do MMMM YYYY') %></li>
                    <li><span style="font-weight: bold;">Description:</span> <%= ads_info.ads_description %></li>
                    <hr>
                </ul>
            </div>
            <div class="ads-contact-details">
                <h2>Contact Details</h2>
                <ul>
                    <li><i style="font-size:1.4rem; margin-right: .5rem;" class="fas">&#xf095;</i><%= ads_info.ads_phone %></li>
                    <li><i style="font-size:1.4rem; margin-right: .5rem;" class="fas">&#xf64f;</i>
                        <% for(x of city_data){ if(String(ads_info.ads_city_id) === String(x._id)){  %>
                            <%= x.name %>
                            <% }} %>
                    </li>
                    <li><span style="font-weight: bold;">Address:</span>: <%= ads_info.ads_address %></li>
                    <hr>
                </ul>
            </div>
        </div>
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <div class="footer-area">
      <div><h3>footer area</h3></div>
    </div>
     <!-- ==================================================End of footer Area========================================================= -->
</body>
</html>