<%- include('header') %>
  <!-- header section -->
  <%- include('sidebar') %>
    <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="cards">
        <% if(ads_data.length > 0){ %>
        <% for(ele of ads_data){ %>
          <div class="card">
            <a href="/card?link=<%= ele._id %>">
              <div class="image-section">
                <img src="https://oldmela.s3.amazonaws.com/<%= ele.ads_img[0] %>" alt="<%= ele.ads_title %>">
              </div>
            </a>
            <div class="details-section">
              <ul>
                <li><a href="/card?link=<%= ele._id %>">
                    <%= ele.ads_title %>
                  </a></li>
                <li><i style="font-size:1.4rem; margin-right: .5rem;" class="fas">&#xf156;</i>
                  <%= ele.ads_price %>
                </li>
                <li><i style="font-size:1.4rem; margin-right: 0.5rem;" class="fas">&#xf041;</i>
                  <% for(x of city_data){ if(String(ele.ads_city_id) === String(x._id)){  %>
                  <%= x.name %>
                  <% }} %>
                </li>
                <li><i style="font-size:1.4rem; margin-right: 0.5rem;" class="far">&#xf073;</i>
                  <%= moment(ele.ads_date).format('Do MMM YYYY') %>
                </li>
              </ul>
            </div>
          </div>
          <% } } else { %>
            <div><span>There is no ads</span></div>
            <% } %>
      </div>
      <!-- Here 0 == /, 1 === cat, 2 == city and 3 == search -->
      <!-- for home page -->
      <% if(check == 0){ %>
      <div class="pagination">
        <a href="/?page=<%= page %>&d=1"><button><i class="fas fa-step-backward"></i></button></a>
        <% if(ads_data.length){ %>
        <a href="/?page=<%= page %>&d=0"><button><i class="fas fa-step-forward"></i></button></a>
        <% }else{ %>
          <button><i class="fas fa-step-forward"></i></button>
          <% } %>
      </div>

      <% } else if (check == 1 ){ %>
        <div class="pagination">
          <a href="/cat?id=<%= id %>&page=<%= page %>&d=1"><button><i class="fas fa-step-backward"></i></button></a>
          <% if(ads_data.length){ %>
          <a href="/cat?id=<%= id %>&page=<%= page %>&d=0"><button><i class="fas fa-step-forward"></i></button></a>
          <% }else{ %>
            <button><i class="fas fa-step-forward"></i></button>
            <% } %>
        </div>

        <% } else if(check == 2){ %>
          <div class="pagination">
            <a href="/city?id=<%= id %>&page=<%= page %>&d=1"><button><i class="fas fa-step-backward"></i></button></a>
            <% if(ads_data.length){ %>
            <a href="/city?id=<%= id %>&page=<%= page %>&d=0"><button><i class="fas fa-step-forward"></i></button></a>
            <% }else{ %>
              <button><i class="fas fa-step-forward"></i></button>
              <% } %>
          </div>
          <% } %>



    </div>
    <!-- ==================================================footer Area========================================================= -->
    <div class="footer-area">
      <div>©2018-2019 By oldmela.com</div>
    </div>
    </div>
    <!-- ==================================================End of footer Area========================================================= -->
    </body>

    </html>