<%- include('header') %>  <!-- header section -->
<%- include('sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
        <div class="form-container">

            <div class="profile-header">
                <h1>Welcome To oldmela.com</h1>
                <h2>Buy & Sell anything form anywhere in Bihar India only in oldmela.com</h2>
              </div>

            <div class="model">
                <div class="user-avtar">
                    <i class="far" >&#xf2bd;</i>
                    <h1>Reset Password </h1>
                </div>
                <div class="form-area">
                    <form class="frm" action="" method="post">
                        <div><p style="color: red"><%= fail %></p></div>
                        <div><p style="color: green"><%= pass %></p></div>
                        <div class="input-area">
                          <!-- <label for="otp"><b></b></label> -->
                          <span>Enter your phone number</span>
                          <input type="number" placeholder="Please enter your mobile no..." name="userPhone" required>
                            
                          <button type="submit">Submit</button>

                          <a href="/login"><button type="button">Back To Login</button></a>
                        </div>
                      </form>
                </div>
            </div>
        </div> <!--End of login area  -->
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <%- include('footer') %>
     <!-- ==================================================End of footer Area================================================= -->
</div>
</body>
</html>