<%- include('header') %>  <!-- header section -->
<%- include('sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
        <div class="form-container">

            <div class="profile-header">
                <h1>Welcome To oldmela.com</h1>
                <h2>Buy & Sell anything form anywhere in Bihar India only in oldmela.com</h2>
              </div>

            <div class="model">
                <div class="user-avtar">
                    <i class="far" >&#xf2bd;</i>
                    <h1>Sign In</h1>
                </div>
                <div class="form-area">
                    <form class="frm" action="" method="post">
                        <div><p style="color: red"><%= fail %></p></div>
                        <div><p style="color: green"><%= pass %></p></div>
                        <div class="input-area">

                          <!-- <label for="uname"><b>Mobile</b></label> -->
                          Mobile
                          <input type="number" placeholder="Enter your 10 digit mobile number.." name="phone" maxlength="12" required>
                    
                          <!-- <label for="psw"><b>Password</b></label> -->
                          Password
                          <input type="password" placeholder="Enter Password" name="password" required>
                            
                          <button type="submit">Sign In</button>

                          <a href="sign_up"><button type="button">Create New Account</button></a>
                          <span class="psw">Forgot <a href="/forget_password">password?</a></span>
                        </div>
                      </form>
                </div>
            </div>
        </div> <!--End of login area  -->
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <%- include('footer') %>
     <!-- ==================================================End of footer Area================================================ -->
</div> 
</body>
</html>