<%- include('header') %>  <!-- header section -->
<%- include('sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
        <div class="form-container">
            <div class="model">
                <div class="user-avtar">
                    <i class='far' >&#xf2bd;</i>
                    <h1>Sign Up</h1>
                </div>
                <div class="form-area">
                    <form class="frm" action="" method="post">
                        <div><p style="color: red"><%= fail %></p></div>
                        <div><p style="color: green"><%= pass %></p></div>
                        <div class="input-area">
                          <!-- <label for="uname"><b>Mobile</b></label> -->
                          <span>Mobile</span>
                          <input type="number" placeholder="Enter your 10 digit mobile no.." name="mobile" required>

                          <!-- <label for="name"><b>Name</b></label> -->
                          <span>Name</span>
                          <input type="text" placeholder="Enter Full Name" name="name" required>

                          <!-- <label for="password"><b>Password</b></label> -->
                          <span>Password</span>
                          <input type="password" placeholder="Enter Password" name="password" required>
                    
                          <!-- <label for="cinfirmpassword"><b>Confirm Password</b></label> -->
                          <span>confirm Password</span>
                          <input type="password" placeholder="Enter Confirm Password" name="confirmPassword" required>
                            
                          <button type="submit">Register</button>
                        </div>
                        <div class="input-area">
                            <a href="login"><button type="button">I have Already Account</button></a>
                        </div>
                      </form>
                </div>
            </div>
        </div> <!--End of login area  -->
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <%- include('footer') %>
     <!-- ==================================================End of footer Area================================================= -->
 </div>
</body>
</html>