<%- include('../header') %>  <!-- header section -->
<%- include('../sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="profile-main-area">

        <div class="profile-header">
          <h1>Welcome <%= user_data.user_name %>!</h1>
          <h2>Buy & Sell anything form anywhere in Bihar India only in oldmela.com</h2>
        </div>

        <div class="profile-body">

            <div class="user-avtar">
              <i class="far" >&#xf2bd;</i>
              <h1> <%= user_data.user_name %> </h1>
            </div>

            <div class="profile-info">
              <ul>
                <li> <span>Phone</span>  <span><%= user_data.user_mobile%> </span> </li>
                <li>  <span>Email</span> <span><%= user_data.user_email%> </span> </li>
                <li><span> Member Since </span> <span><%= moment(user_data.user_date).format('Do MMM YYYY')%> </span> </li>
                <li>  <span>Address</span> <span><%= user_data.user_address%> </span> </li>
              </ul>
              <a href="/update_profile"><button> Update Profile </button></a>
            </div>

        </div>

      </div>
    </div>
    <!-- ===================================Footer started =========================== -->
    <%- include('../footer') %>
     <!-- ==================================================End of footer Area================================================ -->
  </dive> <!--- end grid which is defined in header --->> 
</body>
</html>
