<%- include('../header') %>  <!-- header section -->
<%- include('../sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="profile-main-area">
        <div class="profile-area">
          <div class="profile-header">
            <h1>Welcome <%= user_name %></h1>
          </div>
          <div class="profile-body">
            <div class="profile-img">
              <!-- <img src="images/img_avatar2.png" alt="profile image"> -->
              <div class="msg">Buy & Sell anything form anywhere in Bihar India only on oldmela.com</div>
            </div>
            <div class="profile-info">
              <ul>
                <li>Name: <%= user_data.user_name%></li>
                <li>Phone: <%= user_data.user_mobile%></li>
                <li>Email: <%= user_data.user_email%></li>
                <li>Address: <%= user_data.user_address%></li>
                <li><a href="/update_profile"><button> Update Profile </button></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ===================================Footer started =========================== -->
    <%- include('../footer') %>
     <!-- ==================================================End of footer Area================================================ -->
  </dive> <!--- end grid which is defined in header --->> 
</body>
</html>
