<%- include('../header') %>  <!-- header section -->
<%- include('../sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="profile-header">
        <h1>Post New Ad</h1>
        <h2>Buy & Sell anything form anywhere in Bihar India only on oldmela.com</h2>
      </div>
        <div class="sell-area">
          <form action=""  method="post" enctype="multipart/form-data">
            <div><p style="color: red"><%= fail %></p></div>
            <div><p style="color: green"><%= pass %></p></div>
            <div class="row">
              <div class="col-25">
                <label for="fname">Title/Name</label>
              </div>
              <div class="col-75">
                <input type="text" class="sell_input" name="ads_name" placeholder="Ads name.." maxlength="100" required>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="lname">Price</label>
              </div>
              <div class="col-75">
                <input type="number" class="sell_input" name="ads_price" placeholder="Ads price.." maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required>
              </div>
            </div>
            <div class="row" id="cat">
              <div class="col-25">
                <label for="Categroies">Select Categories</label>
              </div>
              <div class="col-75">
                <select class="sell_input" onchange="sellselectcat(this.value)"  name="ads_cat" required>
                  <option>Select Categories</option>
                  <% for(x of cat_data){ %>
                    <option value="<%= x._id %>"><%= x.name %></option>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="row" style="display: none;" id="subcat">
              <div class="col-25">
                <label for="Sub_Categroies">Select Sub-Categories</label>
              </div>
              <div class="col-75">
                <select id="sellsubcat" class="sell_input" name="sub_ads_cat">
                  <option value="">Select Sub-Categories</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label>Photos Up to 5</label>
              </div>
              <div class="col-75">
                    <input 
                    type="file" 
                    class="sell_input"
                    name="Img" 
                    accept="image/apng, image/gif, image/ico, image/cur, image/jpg, image/jpeg, image/jfif, image/pjpeg, image/pjp, image/png, image/svg"
                    required 
                    multiple>
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="lname">YouTube video Link (Optional)</label>
              </div>
              <div class="col-75">
                <input type="text" class="sell_input"  name="ads_video" placeholder="Enter video link (optional)">
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="subject">Description</label>
              </div>
              <div class="col-75">
                <textarea class="sell_input"  id="dsubject" name="description" placeholder="Write ads details.." style="height:100px" maxlength="500" required></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="city">City</label>
              </div>
              <div class="col-75">
                <input placeholder="Search location..." type="text" name="city" id="sellSearch" class="citySearch sell_input" autocomplete="off"  required/>
                <input type="hidden" name="lat" id="lat">
                <input type="hidden" name="lng" id="lng">
                <div id="sellDropdown" class="dropdown">
                  <ul id="selldropdownList"></ul>
                </div> 
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="lname">Phone</label>
              </div>
              <div class="col-75">
                <input type="number" class="sell_input"  id="pname" name="phone" placeholder="Your mobile number.." maxlength="12" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="subject">Address</label>
              </div>
              <div class="col-75">
                <textarea class="sell_input"  id="asubject" name="address" placeholder="Write your contact address.." maxlength="500" style="height:5rem;" required></textarea>
              </div>
            </div>
            <div class="row btn">
                <input type="submit" class="sell_submit" value="SUBMIT">
            </div>
            </form>
        </div> <!--End of sell area  -->
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <%- include('../footer') %>
     <!-- ==================================================End of footer Area======================================= -->
  </div>
</body>
</html>