<%- include('../header') %>
    <!-- header section -->
    <%- include('./user_profile_sidebar') %>
        <!-- side bar section  -->
        <!-- ==================================================Main Area========================================================= -->
        <div class="main-area">
            <div class="cards">
                <% if(ads_data.length){ %>
                <h1 style="color: green; margin: .2rem;">My Ads</h1>
              <% for(ele of ads_data){ %>
                <div class="card">
                  <a href="/card?link=<%= ele._id %>">
                    <div class="image-section">
                      <img src="https://oldmela.s3.amazonaws.com/<%= ele.ads_img1 %>" alt="">
                    </div>
                  </a>
                  <div class="details-section">
                    <ul>
                      <li><a href="/card?link=<%= ele._id %>">
                          <%= ele.ads_title %>
                        </a></li>
                      <li><i style="font-size:1.4rem; margin-right: 0.5rem;" class="far">&#xf073;</i>
                        <%= moment(ele.ads_date).format('Do MMM YYYY') %>
                      </li>
                      <li>
                        <% if(String(ele.ads_status) === 'false'){ %>
                          <i class="fa fa-circle" style="font-size:1.4rem;color:red"></i>
                          <span style="color: #f44336;">Under review</span>
                          <% } else { %>
                            <i class="fa fa-circle" style="font-size:1.4rem;color:green"></i>
                            <span style="color: green;">Live</span>
                            <% } %>
                      </li>
                      <li>
                        <i style="font-size:1.4rem; margin-right: 0.1rem;" class="fa">&#xf1f8;</i> 
                        <a href="/deleteMyad?id=<%= ele._id %>">
                           <b style="color: blue;" >Delete</b>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <% } } else { %>
                    <div><h3>Dear <span style="color: green; font-weight: bold;"><%= user_name %></span> currently you have not any ads</h3></div>
                <% } %>
      
            </div>
          </div>
          <!-- ==================================================footer Area========================================================= -->


        <div class="footer-area">
            <div>
                <h3>footer area</h3>
            </div>
        </div>
        <!-- ==================================================End of footer Area========================================================= -->
        </body>

        </html>