<%- include('../header') %>  <!-- header section -->
<%- include('../sidebar') %> <!-- side bar section  -->
    <!-- ==================================================Main Area========================================================= -->
    <div class="main-area">
      <div class="profile-header">
        <h1>Update Password</h1>
        <h2>Buy & Sell anything form anywhere in Bihar India only in oldmela.com</h2>
      </div>
        <div class="sell-area">
          <form action=""  method="post" enctype="multipart/form-data">
            <div><p style="color: red"><%= fail %></p></div>
            <div><p style="color: green"><%= pass %></p></div>
            <div class="row">
              <div class="col-25">
                <label for="fname">Current Password</label>
              </div>
              <div class="col-75">
                <input type="password" class="sell_input" id="fname" name="old_password" placeholder="Enter current password" required>
              </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <label for="email">New Password</label>
                </div>
                <div class="col-75">
                  <input type="password" class="sell_input" id="fname" name="new_password" placeholder="Enter new password" required>
                </div>
              </div>
            <div class="row">
              <div class="col-25">
                <label for="lname">Confirm Password</label>
              </div>
              <div class="col-75">
                <input type="password" class="sell_input"  id="lname" name="confirm_password" placeholder="Enter confirm password" required>
              </div>
            </div>
            <div class="row">
              <input type="submit" class="sell_submit" value="Update">
            </div>
            </form>
        </div> <!--End of sell area  -->
    </div>
    <!-- ==================================================footer Area========================================================= -->
    <%- include('../footer') %>
     <!-- ==================================================End of footer Area================================================ -->
  </div>
</body>
</html>